a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

@font-face {
  font-family: "JetBrainsMono-Thin";
  src: url(./JetBrainsMono-Thin.ttf) format("truetype");
}
@font-face {
  font-family: "JetBrainsMono-Medium";
  src: url(./JetBrainsMono-Medium.ttf) format("truetype");
}
